
{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
            <h1>{{ page.title }}</h1>
          <hr class="small">
          <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
		  
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>
